#root {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div-buttons{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
button{
  background-color: rgb(83, 83, 83);
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: larger;
}